

body{
	background: #6c6abc;
	margin:0px;
} 
.div-one{ 
 	width:1200px;
	background:red;
	hight:1000px;
	margin:auto;
}
.div-two{
	width:100;
	height:200px;
	background:#6ab7bc;
}
.div-three{
	width:100;
	height:40px;
	background:#6ab7bc+
}





































