.header{
	text-align:center;
}
.move a{
	background-color:red;
	text-align:center;

}
.header img{
	position:relative;

}
.move a{
	text-align:center;
	position: absolute;
	text-align:center;
	
}
.move{
	text-align: center;
	right:0px;
	left:0px;
	bottom:100px;
	position:absolute;
}